*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cartasP, .cartasB{
    width: 300px;
    border: solid rgba(0, 0, 0, 0.3);
}

.escolhida{
    border: solid green;
} 